[access]
	inheritFrom = All-Projects
[project]
	description = bird eye
[access "refs/*"]
	owner = group user/wangyang (fuzzywy)
[access "refs/for/refs/*"]
	read = group user/wangyang (fuzzywy)
	push = group user/wangyang (fuzzywy)
	label-Code-Review = -2..+2 group user/wangyang (fuzzywy)
	label-Verified = -1..+1 group user/wangyang (fuzzywy)
	rebase = group user/wangyang (fuzzywy)
	removeReviewer = group user/wangyang (fuzzywy)
	submit = group user/wangyang (fuzzywy)
[access "refs/heads/*"]
	read = group user/wangyang (fuzzywy)
	create = group user/wangyang (fuzzywy)
	push = +force group user/wangyang (fuzzywy)
	pushMerge = group user/wangyang (fuzzywy)
[access "refs/tags/*"]
	push = group user/wangyang (fuzzywy)
	push = +force group user/wangyang (fuzzywy)
